.jumbotron{
    padding: 2em 2em;
    text-align: center;
    background: none;
}
.sectionLight{
    background-color: #eceeef;
    padding: 1em;

}
.sectionDark{
    background-color: #cccccc;
    padding: 2em;
}

.coolStaffWrapper{
    margin-top: 20px;
}

button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}
.modalFormWrapper{
    padding: 3rem;
}

    .imgCenter{
        margin: auto;
        display: block;
    }

.btnCenter{
  display:  block;
    margin: auto;
    margin-top: 15px;
    margin-bottom:20px;
    width:44%;
}

.fotterImg{
   padding: 15px;
}

.fa-facebook-square{
    color: #3b5998;
}
.fa-google-plus-square{
    color:#c32f10;
}
.fa-instagram{
    color:#ffffff;
}

.fa-instagram.classic{
    color:purple;
}

.socialWrapper{
    margin: auto;
    }
